@charset "UTF-8";
.item1 {
    width: 100px;
    height: 100px;
    padding: 20px;
    background: #deffd8;
    position: relative;
    top: 50px;
    left: 50px;
}

.item2 {
    width: 100px;
    height: 100px;
    padding: 20px;
    background: #ffded8;
}
