@charset "UTF-8";
#global_navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-left: 1px solid #cccccc;
}

#global_navi ul li {
    border-right: 1px solid #cccccc;
}

#global_navi ul li a {
    display: block;
    padding: 6px 20px;
}

